:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* PORTAL ANIMATIONS */
.rasengan {
  animation: rasengan 0.2s linear infinite;
}

.rasengan2 {
  animation: rasengan2 0.2s linear infinite;
}

.rasengan3 {
  animation: rasengan3 0.2s linear infinite;
}

.rasengan4 {
  animation: rasengan4 0.2s linear infinite;
}

.rasengan5 {
  animation: rasengan5 0.5s linear infinite;
}
.rasengan6 {
  animation: rasengan6 0.3s linear infinite;
}
.rasengan7 {
  animation: rasengan7 0.3s linear infinite;
}

.rasengan8 {
  animation: rasengan8 0.2s linear infinite;
}

@keyframes rasengan {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(0%, 12%);
  }

  50% {
    transform: translate(10%, 13%);
  }

  75% {
    transform: translate(10%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes rasengan2 {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(5%, 0%);
  }

  50% {
    transform: translate(5%, 5%);
  }

  75% {
    transform: translate(0%, 5%);
  }

  100% {
    transform: translate(0.2%, 0%);
  }
}

@keyframes rasengan3 {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(-3%, 6%);
  }

  50% {
    transform: translate(0%, 12%);
  }

  75% {
    transform: translate(5%, 8%);
  }

  100% {
    transform: translate(0%, 2%);
  }
}

@keyframes rasengan4 {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(-1%, 6%);
  }

  50% {
    transform: translate(0%, 12%);
  }

  75% {
    transform: translate(5%, 8%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes rasengan5 {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(-7%, 8%);
  }

  50% {
    transform: translate(0%, 16%);
  }

  75% {
    transform: translate(7%, 8%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes rasengan6 {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(6%, 7%);
  }

  50% {
    transform: translate(0%, 14%);
  }

  75% {
    transform: translate(-6%, 7%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes rasengan7 {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(5%, 0%);
  }

  50% {
    transform: translate(10%, 0%);
  }

  75% {
    transform: translate(5%, 4%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes rasengan8 {
  0% {
    transform: translate(0%, 0%);
  }

  10% {
    transform: translate(2%, -2%);
  }

  40% {
    transform: translate(7%, 2%);
  }

  70% {
    transform: translate(5%, 11%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
